{% extends "base.html" %}
{% comment %}
  Main page to authenticate users.
{% endcomment %}

{% block head %}
  <title>CRM EJH-USA | Login</title>
{% endblock %}

{% block body %}

    <div role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">Inicio</a>
          </div>

      </div>
    </div>

  <div class="jumbotron">
      <div class="container text-center">
          <h1>EJH-USA | CRM</h1>
          <h2> {% block subtitulo %}{% endblock %} </h2>
      </div>
  </div>

  <section>
    {% if form.errors %}
      <p>Su usuario y password son incorrectos, intentelo nuevamente.</p>
    {% endif %}

    <form method="post" action=".">
      {% csrf_token %}
      <p>
        <label for="id_username">Usuario:</label>
        {{ form.username }}
      </p>
      <p>
        <label for="id_password">Password:</label>
        {{ form.password }}
      </p>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/crm/" />
      {% endif %}
      <input type="submit" value="Login" />
    </form>
  </section>
{% endblock %}