{% extends "base.html" %}
{% comment %}
  This is the main template for all portal pages.
{% endcomment %}

{% block head %}
  <title>CRM | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
  <div role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <a href="/crm/" class="navbar-brand">Inicio</a>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li>
                      <a data-toggle="tab" href="/prospectos/nuevo/" onclick="tabAction(this)">
                          <i class="fa fa-flag">
                          </i>
                          Nuevo prospecto
                      </a>
                  </li>
                  {% if user.is_staff %}
                      <li>
                          <a data-toggle="tab" href="/prospectos/captura/" onclick="tabAction(this)">Reporte de captura</a>
                      </li>
                  {% endif %}
                  <li>
                      <a data-toggle="tab" href="/logout/" onclick="tabAction(this)">Salir</a>
                  </li>
               </ul>
          </div>
      </div>
  </div>

  <div class="jumbotron">
      <div class="container text-center">
          <h1>EJH-USA | CRM</h1>
          <h2> {% block subtitulo %}{% endblock %} </h2>
      </div>
  </div>

      {% block content %}{% endblock %}

  <footer>
    <span>&copy; 2014, USA</span>
  </footer>
{% endblock %}