{% extends "crm/crm.html" %}
{% comment %}
  Pagina principal del CRM EJH-USA
{% endcomment %}

{% block head %}
  <title>Captura por evento</title>
{% endblock %}

{% block subtitulo %}
  Captura por evento
{% endblock %}

{% block content %}
<table class="table" >
    <tr>
        <th>Evento</th>
        <th>Capturados</th>
    </tr>
  {% for item in valores %}
      <tr>
          <td>{{item.nombre_evento}}</td>
          <td>{{item.capturados}}</td>
      </tr>
  {% endfor %}
</table>


{% endblock %}