{% extends "crm/crm.html" %}
{% comment %}
  Pagina principal del CRM EJH-USA
{% endcomment %}

{% block head %}
  <title>Captura examen buap</title>
{% endblock %}

{% block subtitulo %}
  Captura examen buap
{% endblock %}

{% block content %}
<table class="table" >
    <tr>
        <th>Nombre becario</th>
        <th>Capturados buap</th>
    </tr>
  {% for item in valores %}
      <tr>
          <td>{{item.first_name}} {{item.last_name}}</td>
          <td>{{item.capturados}}</td>
      </tr>
  {% endfor %}
</table>


{% endblock %}